name: Publish Docker image

on:
  push:
    branches: [ "master" ]
    paths:
      - 'docker-compose.yml'
  workflow_dispatch:

jobs:
  push_to_registry:
    name: Push Docker image to Docker Hub
    runs-on: ubuntu-latest
    environment: DockerDeploy
    steps:
      - name: Check out the repo
        uses: actions/checkout@v6
      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: minnced
          password: ${{ secrets.DOCKER_TOKEN }}
      - name: Build
        run: docker compose build
      - name: Push to Docker Hub
        run: docker compose push
